@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: black;
    overflow: hidden;
}

.container {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.videos {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 0 20px;
    justify-content: center;
}

.videos > * {
    /* width: 100%; */
    /* height: 100%; */
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videos > * > * {
    height: auto;
    width: 100%;
    border-radius: 6px;
}

.controlPanel {
    display: flex;
    gap: 16px;
}

.colsOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 5px;
    font-size: 14px;
}

.colsOptionsSlider {
    accent-color: white;
    width: 80px;
}

.colsOptionsSlider:focus {
    outline: none;
}

input[type="number"] {
    background: none;
    border: none;
    outline: none;
    color: white;
    width: 24px;
    -moz-appearance: textfield; /* saca flechas en Firefox */
    font-weight: bold;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.videoSwitchContainer {
    background-color: rgb(12, 12, 12);
    border-radius: 96px;
}

.videoSwitch {
    background-color: rgb(22, 22, 22);
    border: 1px solid #121212;
    border-radius: 9999px;
    display: flex;
    padding: 4px;
}

.videoSwitch label {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 13px;
    line-height: 150%;
    padding: 0 10px 1px 10px;
    height: 27px;
    height: 24px;
    border-radius: 9999px;
}

.selected {
    background-color: #252525;
    color: rgb(243, 243, 243);
}

.notSelected {
    color: rgb(144, 144, 144);
}

.notSelected:hover {
    color: #C0C0C0;
}

@media (max-width: 810px) and (pointer: fine), (pointer: coarse) and (orientation: portrait) {    
    .container {
        gap: 0;
    }
    
    .videos {
        flex-direction: column;
        padding-top: 10px;
        min-height: 0;
        gap: 10px;
    }

    .videos > * {
        width: 100%;
        overflow: hidden;
    }

    .videos > * > * {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }

    .controlPanel {
        padding: 10px 0;
        gap: 4px;
    }

    .colsOptions {
        font-size: 10px;
    }

    .colsOptionsSlider {
        width: 60px;
    }

    input[type="number"] {
        font-size: 10px;
    }

    .videoSwitch label {
        font-size: 10px;
    }
}

@media (pointer: coarse) and (orientation: landscape) {
    .videos {
        padding: 0 12vw;
    }
}