* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.emoji-canvas {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

.camera-feed {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

.camera-feed video {
  height: 100%;
  width: 100%;
  object-fit: contain; /* cambiá cover por contain */
}